<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">


	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>

		<init-param>
			<param-name>encodingFilter</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			WEB-INF/applicationContext.xml
		</param-value>
	</context-param>

	<filter>
		<filter-name>Struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>


	<filter-mapping>
		<filter-name>Struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<context-param> 
   		<param-name>log4jConfigLocation</param-name> 
   		<param-value>WEB-INF/log4j.properties</param-value> 
	</context-param> 


	<context-param> 
   		<param-name>log4jRefreshInterval</param-name> 
  		<param-value>60000</param-value> 
	</context-param> 

	<!-- 需要添加spring-web.jar包，否则用发生错误信息 -->

	<listener> 
   		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class> 
	</listener> 
	
	 <!-- 设置session失效，单位分 -->
  	<session-config>
   		<session-timeout>60</session-timeout>
  	</session-config>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app> 